/* home */
@use '../abstracts/variables' as var;
@use '../base/typography' as type;
@use '../components/header';

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
  font-variation-settings: 'opsz' 50, 'SOFT' 100, 'WONK' 1;
  font-weight: 700;
}
